Sidebar
<div class="left-sidebar" id="left-sidebar">
    <nav>
        <a href="/index.html" id="home">
            <img src="/icon/house.png">
            Home
        </a>
        <a href="/content/table.html" id="table">
            <img src="/icon/table.png">
            Table
        </a>
        <a href="/content/profile.html" id="profile" style="display: none;">
            <img src="/assets/images/avatar/profile.png">
            Profile
        </a>
        <a href="/form/signin.html" id="signin">
            <img src="/icon/login.png">
            SignIn
        </a>
        <a href="/form/signup.html" id="signup">
            <img src="/icon/signup.png" alt="signup">
            SignUp
        </a>
        <a href="#" id="logout" style="display: none;">
           <img src="/icon/logout.png" alt="">
            LogOut
        </a>
        <a href="#" id="theme-toggle">
            <img src="/icon/switch-on.png" alt="">
            Toggle Theme
        </a>
    </nav>
</div>